#product-overview {
  height: 33vh;
  width: 100%;
  position: relative;
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 20%, transparent),
    url('./images/freedom.jpg') center/cover no-repeat border-box;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 1.6rem;
}

@media (min-width: 40rem) {
  #product-overview {
    height: 40vh;
  }

  #product-overview h1 {
    font-size: 3rem;
  }
}
.articles {
  font-size: 0.87rem;
  text-align: center;
}

.article {
  display: block;
  padding: 1rem;
  margin: 0.5rem;
  background-color: #d5ffdc;
}

@media (min-width: 40rem) {
  .articles {
    width: 80%;
    margin: auto;
    min-width: 38rem;
    display: flex;
    align-items: center;
  }
  .article {
    width: 30%;
  }

  .article:last-of-type {
    height: 20.07rem;
  }
}

.article__title {
  color: #0e4f1f;
}

.article__price {
  color: #747474;
}

.button {
  background-color: #0e4f1f;
  color: white;
  border-radius: 8px;
  font: inherit;
  font-weight: bold;
  border: 1.5px solid #0e4f1f;
  padding: 0.5rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: white;
  color: #126328;
  border: 1.5px solid #126328;
}

.article--recommended {
  background-color: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.article__recommended--box {
  background: white;
  color: #19b84c;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.article__recommended--title {
  color: white;
}

.article__recommended--price {
  color: #0e4f1f;
}

.article ul {
  padding: 0px;
}

.article li {
  margin: 0.5rem 0;
}

.reasons {
  margin-top: 2.81rem;
  background-color: #ff1b68;
  text-align: center;
  color: white;
  padding: 1.25rem;
}

.reasons h1 {
  padding: 1.25rem;
}

.reasons ul {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}

.reasons__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 40rem) {
  .reasons ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .reasons__item {
    width: 30%;
  }
}

.reasons__item--circle {
  border-radius: 50%;
  border: 2px solid #424242;
  background-color: #ffcede;
  width: 128px;
  height: 128px;
}

.reasons__item--description {
  font-weight: bold;
  font-size: 1.25rem;
}

.modal {
  opacity: 0;
  transition: opacity 0.3s ease-out;
  position: fixed;
  z-index: -200;
  left: 10%;
  top: 20%;
  width: 80vw;
  background-color: white;
  padding: 1rem;
  border: 1px solid white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.openModal {
  opacity: 1;
  z-index: 200;
}

.modal__title {
  margin: 0 0 2.7rem 0;
}
.modal__actions {
  display: flex;
  justify-content: space-evenly;
}
.modal__action {
  font: inherit;
  font-size: 1.5rem;
  background-color: #0e4f1f;
  border: 1px solid #0e4f1f;
  padding: 1rem 2rem;
  color: white;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background-color: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background-color: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background-color: #ff5454;
  border-color: #ff5454;
}
